{% load i18n %}

{% block content %}
<div class="center">
    <h5>{% trans "Thanks for spending some quality time with the Web site today." %}</h5>
    <p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>
</div>
{% endblock %}