{% load i18n %}

{% block title %}{% trans 'Register' %}{% endblock %}

{% block content %}
<form action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}
    {{ form }}

    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
    {% endif %}
    <div class="action right-align">
        <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
    </div>
</form>
{% endblock %}