<h1>Принтцентры в городе</h1>
<div>
    <ul>
        {# top N city #}
        <li><a href="{% url 'goprint:printcenter_map' 'kyiv' %}">Kyiv</a></li>
        <li><a href="{% url 'goprint:printcenter_map' 'kharkiv' %}">Kharkiv</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'goprint:order_list' %}">[Мои заявки на печать]</a></li>
    </ul>

    <ul>
        <li><a href="{% url 'goprint:printcenter_list' %}">[Список принтцентров]</a></li>
        {% if user_printcenter %}
            <li><a href="{% url 'goprint:printcenter_detail' user_printcenter.id %}">[Мой принтцентр]</a></li>
        {% else %}
            <li><a href="{% url 'goprint:printcenter_add' %}">[Добавить принтцентр]</a></li>
        {% endif %}
    </ul>
</div>
