{% extends 'goprint/base.html' %}

{% block content %}
    <h1>Orders</h1>
    <ul>
    {% for order in object_list %}
        <li>{{ order }} <a href="{% url 'goprint:order_detail' order.pk %}">more</a> </li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>
    <p>
        <a href="{% url 'goprint:printcenter_map' city %}">На карту</a>
    </p>
{% endblock %}



