{% extends 'goprint/base.html' %}
{% load static %}

{% block extrahead %}
    <script type="text/javascript" src="{% static '/js/jquery-3.0.0.min.js' %} "></script>
    {{ form.media }}
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'goprint:order_add' printcenter_id %}" enctype="multipart/form-data">
    <div class="card-title">Заявка на печать</div>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="отправить заявку"/>
</form>
{% endblock %}



