{% extends 'goprint/base.html' %}

{% block content %}
    <h1>Orders</h1>
    <ul>
    {% for price in object_list %}
        <li>{{ price }}</li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>

    <a href="{% url 'goprint:printcenter_detail' printcenter_pk %}">назад в принтцентр</a>
{% endblock %}


