{% extends 'goprint/base.html' %}

{% block content %}
    <h1>Printcenters</h1>
    <ul>
    {% for printcenter in object_list %}
        <li>{{ printcenter }} <a href="{% url 'goprint:printcenter_detail' printcenter.pk %}">more</a> </li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>

    {% if user_printcenter %}
        <li><a href="{% url 'goprint:printcenter_detail' user_printcenter.id %}">[Мой принтцентр]</a></li>
    {% else %}
        <li><a href="{% url 'goprint:printcenter_add' %}">[Добавить принтцентр]</a></li>
    {% endif %}

{% endblock %}


