{% extends 'goprint/base.html' %}

{% block content %}
    <h1>Printcenter Spots</h1>
<ul>
    <li><a href="{% url 'goprint:printcenter_map' 'kyiv' %}">Kyiv</a></li>
    <li><a href="{% url 'goprint:printcenter_map' 'kharkiv' %}">Kharkiv</a></li>
</ul>

{% endblock %}
