{% extends 'goprint/base.html' %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1>Редактировать Printcenter {{ object.name }}</h1>

    <div >
    <form method="POST" action="{% url 'goprint:printcenter_update' pk %}" enctype="multipart/form-data">
        <div class="card-title">Принт центр</div>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Применить"/>
        <a href="{% url 'goprint:printcenter_map' city %}">на карту</a>
    </form>
</div>

{% endblock %}


