{% extends 'goprint/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block extrahead %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
      /* next line is usefull for production mode */
      .leaflet-default-icon-path { background-image: url("/static/leaflet/images/marker-icon.png") !important ; }
    </style>

{% endblock %}

{% block content %}
    {% include "goprint/map_menu.html" %}

    {% leaflet_map "main" settings_overrides=map_settings %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
      var dataurl = '{% url "goprint:printcenter_data" %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>принтцентр <a href="${props.detailUrl}">${props.title}</a></h3><p><a href="${props.documentSubmitUrl}">[добавить на печать]</a></p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
{% endblock %}
