{% extends 'goprint/base.html' %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div >
    <form method="POST" action="{% url 'goprint:printcenter_add' %}" enctype="multipart/form-data">
        <div class="card-title">Принт центр</div>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="отправить заявку"/>
        <a href="{% url 'goprint:printcenter_map' city %}">на карту</a>
    </form>
</div>

{% endblock %}

