{% extends 'goprint/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block extrahead %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      /* next line is usefull for production mode */
      .leaflet-default-icon-path { background-image: url("/static/leaflet/images/marker-icon.png") !important ; }
    </style>

{% endblock %}

{% block content %}
    <h1>Принтцентр: {{ object.name }}</h1>
    <h3>Aдрес: {{ object.address }} </h3>
    {% leaflet_map "main" settings_overrides=map_settings %}
    {{ object.point }}
    <table>
    {% with prices=object.price_set.all %}
        <tr><th>услуга</th><th>цена (грн)</th></tr>
        {% for price in prices %}
        <tr><td>{{ price.name }}</td><td>{{ price.price }}</td></tr>
        {% endfor %}
    {% endwith %}
    </table>
    <p>
        {% ifequal user_printcenter.id object.pk %}
            <a href="{% url 'goprint:printcenter_update' object.pk %}"> редактировать описание </a>
        {% else %}
            <a href="{% url 'goprint:order_add' object.pk %}"> оформить заказ на печать </a>
        {% endifequal %}
    </p>
    <p>
        <a href="{% url 'goprint:printcenter_map' city %}">На карту</a>
    </p>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
 window.addEventListener("map:init", function (e) {
    var detail = e.detail;
    L.marker([{{ object.point.y }},{{ object.point.x }}]).addTo(detail.map);
}, false);
 </script>
{% endblock %}
