{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>{% block title %}{% endblock %}</title>
        {% block extrahead %}{% endblock %}
        {% endblock head %}
    </head>
    <body>

        <header>

        </header>
        <main>
            <div class="content" style="height: 900px">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>

        </footer>

        {% block extrajs %}{% endblock %}
    </body>
</html>
